 <div class="container">
  <div class="bg-secondary mt-5 d-flex w-100 justify-content-between align-items-center" style="height:5px">
    <div class="bg-dark rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="align-middle">1</p>  </div>
    <div class="bg-primary rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="text-secondary">2</p> </div>
    <div class="bg-dark rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="text-secondary">3</p> </div>
  </div>
  <br><br>
  <h2 class ="text-center">Record details of your contract</h2>
  <div data-controller="onboarding">


  </div>



  <%= turbo_frame_tag 'onboarding_form' do %>

  <br>
  <div class="row justify-content-center ">
    <a href="/users/take_photo" class="btn btn-warning">Take a photo</a>
    <a href="/users/enter_details" class="btn btn-warning">Enter contract details</a>
  </div>
  <% end %>
<!--   <form action="" class="my-5">
   <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton">Take photo</button>
  </div>
  <canvas id="canvas">
  </canvas>
  <div class="output">
    <img id="photo" alt="The screen capture will appear in this box.">
  </div>
  <input type="submit" Value="Next" class="btn btn-primary float-right my-3">
</form> -->

</div>
