<% tips = ['You can only claim up to 1 year of unpaid salary',
  'Airport police will help you if boss forces you to fly home',
  'Boss must pay you even if he does not give you work',
  'You should be paid 1.5x your hourly pay if you work overtime (more than 44h per week)'] %>

<div class="spinner bg-primary fixed-top">
  <div style="text-align:center;">
  <div class="spinner-border text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <h6 class="mt-5 text-info">💡 Did you know?</h6>
  <p class="mx-5 mb-5 text-light"><%= tips.sample %></p>
  </div>
</div>
