<div class="center-landing">
  <%= image_tag "boss-abb-logo.png", height: 200, width: 200, crop: :fill , class: "mb-3"%>

 <%= link_to "Login", new_user_session_path, class: 'btn btn-block btn-blue my-3 text-white', data: { turbo: false }  %>
 <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-block btn-blue my-3 text-white', data: { turbo: false }  %>
</div>
