.simple-calendar {
  background-color:white;
}

.calendar-circle {
  height: 3rem;
  min-width: 2.5rem;
  line-height: 1rem;
  padding: 0;

  &.date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

.calendar-circle-small {
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  opacity: 70%;
}

.simple-calendar .today {
  background-color: transparent !important;
  font-weight: bold;
  font-size: 1.3rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.simple-calendar td {
  padding: 0 !important;
}
