.calendar-circle {
  height: 2rem;
  width: 2rem;
  line-height: 1rem;

  &.date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

.calendar-circle-small {
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  opacity: 70%;
}

.bg-green {
  background-color: #DDFFF7;
}

.bg-blue {
  background-color: #DEE2FF;
}

.bg-pink {
  background-color: #fcd5ce;
}
