<div class="container my-3">
  <%= month_calendar(events: @workdays) do |date, workdays| %>
    <%= date.day %>

    <% workdays.each do |workday| %>
      <div>
        <% start_time = workday.start_time %>
        <% if workday.on_rest %>
          <div class="bg-primary rounded-circle text-center" style="height: 1rem; width: 1rem; line-height: 1rem"> <p class="align-middle">1</p>  </div>
        <% else %>
          <%= link_to edit_workday_path(workday) do %>
            <%= start_time.strftime("%H:%M") %>
            <div class="bg-success rounded-circle text-center" style="height: 1rem; width: 1rem; line-height: 1rem"></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
