<div class="container my-3">
  <%= month_calendar(events: @workdays) do |date, workdays| %>
    <%= date.day %>

    <% workdays.each do |workday| %>
      <div>
        <% start_time = workday.start_time %>
        <% if start_time.nil? %>
          <%= 'on leave' %>
        <% else %>
          <%= start_time.strftime("%H:%M") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
